* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
LICENSES/** text eol=lf
*.c text eol=lf
*.h text eol=lf
*.sh text eol=lf
*.cmd text eol=lf
*.conf text eol=lf
*.csc text eol=lf
*.dts text eol=lf
*.patch text eol=lf -whitespace
*.service text eol=lf
*.md text eol=lf
